:root {
    --logo-color: #FF6E30;
    --title-color: rgba(255, 255, 255, 0.90);
    --info-color: rgba(255, 255, 255, 0.55);
    --search-input: rgba(255, 255, 255, 0.38);
    --main-background: #1E252B;
    --tools-hover: rgba(40, 48, 54, 0.60);
    --brand-background: rgba(44, 53, 61, 0.20);
    --form-background: #283036;
    --price-color:rgba(255, 165, 55, 0.55);
    --item-head:rgba(255, 255, 255, 0.78);
    --brand--title: rgba(255, 255, 255, 0.80);
    --line-color: rgba(255, 255, 255, 0.15);
}
.container {
    width: 1254px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid rgb(255, 64, 0);
  }
body {
    font-family: "Poppins";
    background: var(--main-background);
}
.header {
    padding-top: 26px;
}
.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: flex;
    align-items: center;
    color: var(--title-color);
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
}
.header-list {
    display: flex;
    gap: 42px;
}
.header-link {
    color: var(--info-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.registration-list {
    display: flex;
    align-items: center;
    gap: 41px;
}
.registration-link {
    color: var(--info-color);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}
.registration-button {
    border-radius: 8px;
    border: none;
    background: #FF6E30;
    color: #FDF5FF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 12px 28px;
}
.hero-titel {
    width: 600px;
    color: var(--title-color);
    font-size: 50px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 30px;
}
.hero-span {
    color: var(--logo-color);
    font-size: 50px;
    font-weight: 500;
    line-height: 140%;
}
.hero-info {
    color: var(--info-color);
    width: 487px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
}
.search-box {
    width: 497.659px;
    height: 64px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: var(--form-background);
    border-radius: 15px;
    border: 1.5px rgba(255, 255, 255, 0.10);
    margin-bottom: 110px;
}
.search-img {
    width: 24.08px;
    height: 24px;
    margin-right: 13.04px;
    margin-left: 18.06px;
}
.search-input {
    border: none;
    width: 210px;
    height: 21px;
    margin-right: 90px;
    color: var(--search-input);
    background: var(--form-background);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
.search-button {
    width: 130.435px;
    height: 48px;
    flex-shrink: 0;
    border: none;
    border-radius: 8px;
    background: var(--logo-color);
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}
.hero-list {
    display: flex;
    gap: 19px;
}
.hero{
    background-image: url(../img/main-img.png);
    background-repeat: no-repeat;
    background-position: right ;
    padding-top: 58px;
    padding-bottom: 200px;
}
.tools {
    text-align: center;
}
.tools-title {
    color: var(--title-color);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}
.tools-info {
    color: var(--info-color);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 90px;
    width: 427px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.tools-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 100px;
}
.tools-item {
    padding: 34px 33px 33px 33px;
    flex-basis: calc((100% - 48px) / 3);
}
.tools-item:hover {
    background-image: url(../img/tools-hover.png);
    background-repeat: no-repeat;
    margin-top: -20px;
}
.item-box {
    display: flex;
    gap: 30px;
}
.item-title {
    color: var(--item-head);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}
.price {
    color: var(--price-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
}
.item-info {
    width: 326px;
    margin-top: 31px;
    color: var(--info-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: start;
}
.item-list {
    display: flex;
    gap: 18px;
}
.last-box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.item-link {
    border-radius: 8px;
    padding: 9px 35px;
    color: var(--info-color);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}
.item-link:hover {
    color: var(--title-color);
    background-color: var(--logo-color);
}
.tools-button {
    width: 184px;
    border-radius: 8px;
    border: 1px rgba(255, 255, 255, 0.10);
    background: #1E252B;
    color: var(--logo-color);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding: 17px 38px;
    margin-top: 100px;
}
.brand {
    padding-top: 200px;
    text-align: center;
}
.brand-box {
    background-image: url(../img/brand-background.png);
    background-repeat: no-repeat;
    padding-top: 55px;
    padding-bottom: 56px;
}
.brand-title {
    color: var(--brand--title);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 56px;
}
.bravd-list {
    display: flex;
    justify-content: center;
    gap: 107px;
}
.newcomer {
    padding-top: 220px;
}
.newcomer-box {
    display: flex;
}
.newcomer-title {
    color: var(--title-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}
.newcomer-info {
    color: var(--info-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    width: 427px;
    margin-top: 30px;
}
.newcomer-button {
    border: none;
    border-radius: 8px;
    background: #FF6E30;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    padding: 16px 40px 15px 40px;
    margin-top: 60px;
}
.newcomer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 50px;
    justify-content: end;
}
.newcomer-item {
    padding: 29px 21px 28px 22px;
}
.newcomer-item:hover {
    background-image: url(../img/newcomer-hover.png);
    background-repeat: no-repeat;
    margin-top: -20px;
}
.newcomer-description {
    width: 245px;
    margin-top: 31px;
    color: var(--info-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.team {
    padding-top: 328px;
}
.eam-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.team-box {
    width: 666px;
    height: 832px;
    background-image: url(../img/ronald.png),url(../img/team-background.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.team-info {
    width: 393px;
    color: var(--item-head);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.21px;
}
.name-box {
    width: 265px;
    border-radius: 8px;
    background-image: url(../img/name-background.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 65%;
    left: 50%;
}
.name-title {
    color: var(--item-head);
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.39px;
    padding-top: 10px;
    padding-right: 22px;
    padding-left: 23px;
}
.name-info {
    color: var(--info-color);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
    padding-left: 23px;
}
.right-img {
    margin-left: 125px;
}
.slice-img {
    margin-left: auto;
    margin-right: auto;
}
.contributor {
    padding-top: 250px;
    text-align: center;
    padding-bottom: 240px;
}
.contributor-title {
    color: var(--title-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 25px;
}
.contributor-info {
    color: var(--info-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    width: 427px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.contributor-box {
    display: flex;
    align-items: center;
    width: 549px;
    height: 64px;
    border-radius: 15px;
    border: 1.5px rgba(255, 255, 255, 0.10);
    background: #283036;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.contributor-input {
    border: none;
    width: 190px;
    color: var(--search-input);
    background: var(--form-background);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-left: 24.18px;
}
.contributor-button {
    border: none;
    border-radius: 8px;
    background: #FF6E30;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 12px 36.43px;
    margin-left: 190px;
}
.footer {
    border-top: 1px solid var(--line-color);
}
.footer-list {
    display: flex;
}
.footer-item {
    margin-top: 70px;
    margin-right: 156px;
}
.footer-title {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-top: 27px;
}
.footer-info {
    width: 260px;
    color: var(--info-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 21px;
}
.info-list {
    display: flex;
}
.info-item:first-child {
    margin-right: 90px;
}
.info-item:nth-child(even) {
    margin-right: 81px;
}
.address {
    display: flex;
    flex-direction: column;
}
.info-title {
    color: var(--title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}
.info-description {
    color: var(--info-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}
.company-box {
    display: flex;
    flex-direction: column;
}